*{
  font-family: 'PT Serif', serif;
  }

.fa-comments-o{
  font-size: 50px;
  color: white;
  padding: 15px;
  position: fixed;
  right: 25px;
  bottom: 25px;
  background-color: #6fbbb7;
  border-radius: 100%;
  z-index: 100;
}

ul{
  font-family: 'helvetica neue', arial, sans-serif;
  font-size: 16px;
}

li{
  display: inline;
}

h1{
  color: white;
  font-size: 60px;
}

h3{
  font-style: italic;
  font-weight: 600;
  color: #727d84;
}

.navbar{
  height: 101px;
  background-color: #39474e;
  padding-top: 17px;
  margin-bottom: 0px;
  border-radius: 0px;
}

.navbarrow{
  margin-left: 60px;
  margin-right: 100px;
}

.navbarleft li a{
  text-decoration: none;
  font-family: 'helvetica neue', arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: white;
  padding: 15px;
}

.navbarright{
  text-align: right;
  padding: 15px;
}

.navbarright li a{
  text-decoration: none;
  font-family: 'helvetica neue', arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #838f95;
  padding: 10px;
}

.btn-default{
  background-color: #6fbbb7;
  border-color: #6fbbb7;
  color: white;
  font-family: 'helvetica neue', arial, sans-serif;
  font-size: 14px;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
}

.hero{
  background: url(../images/heroback.jpg) no-repeat center left;
  background-size: cover;
  height: 600px;
  margin-top: 0px;
}

.herotext{
  margin-left: 140px;
  margin-top: 210px;
}

.herotext button{
  font-size: 25px;
}

.pressbox{
  background-color: #eee;
  height: 113px;
}

.press{
  width: 75%;
  margin: 0 auto;
  padding-top: 10px;
}

.aboutrow{
  margin-top: 50px;
  margin-bottom: 50px;
}

.about p{
  color: #39474e;
  font-family: 'helvetica neue', arial, sans-serif;
  font-weight: 300;
  font-size: 18px;
  padding-right: 25px;
}

.pageformblock{
  background-color: #eee;
  border-radius: 10px;
  padding: 25px;
}

.pageformblock p, strong{
  font-family: 'helvetica neue', arial, sans-serif;
  font-size: 14px;
  line-height: 25px;
}
/* all form formatting */
input{
  margin: 5px;
  margin-left: 0px;
  margin-right: 0px;
}

::-webkit-input-placeholder {
   font-style: italic;
   font-size: 16px;
}

form>.row>.col-md-6.left{
  padding-right: 5px;
}

form>.row>.col-md-6.right{
  padding-left: 5px;
}

button.form{
  width: 100%;
  font-size: 16px;
  margin-top: 5px;
}

.courses{
  background-color: #eee;
}

.coursesinset{
  margin: 25px;
  margin-left: 325px;
  margin-right: 325px;
  text-align: center;
}

.employershero{
  background: url(../images/employersback.jpg) no-repeat bottom left;
  background-size: cover;
}
